name: Github Pages
run-name: ${{ github.actor }} is deploying the application
on:
  push:
    branches:
      - main
jobs:
  build-deploy:
    environment: github-pages
    runs-on: ubuntu-latest
    steps:
      - name: Set-up Node & Checkout
        uses: actions/checkout@v3
      - name: Set-up Node
        uses: actions/setup-node@v3
        with:
          node-version: 22
          cache: "yarn"
      - name: Install dependencies
        run: |
          npm install yarn@latest
          yarn install
      - name: Build
        env:
          VITE_API_BASE_URL: ${{ vars.VITE_API_BASE_URL }}
        run: yarn build
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_branch: gh-pages
          publish_dir: build
          deploy_key: ${{ secrets.DEPLOY_SECRET }}
